.minipopup {
  padding: 4px 0;
  position: relative;
  margin: 5px;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, .04), 0 4px 12px rgba(0, 0, 0, .06);
  border-radius: 6px;
}

.minipopup .form-control {
  height: 25px;
  padding: 3px;
  font-size: 12px;
  border-radius: 4px;
}

.minipopup .form-control .prompt {
  height: 35px;
}

.closeSvg {
  position: absolute;
  right: 4px;
  top: 6px;
  z-index: 99;
  cursor: pointer;
}

.minipopup .form-group label {
  font-size: 13px;
  margin-bottom: 0;
}

.brandStory {
  font-size: 16px;
  margin-bottom: 5px;
}

.b-story {
  background-color: #f4f4f4;
  box-shadow: 0px 0px 4px 0px #ccc;
}

.bl-story .form-group {
  display: flex;
  align-items: center;

}

.bl-story .form-group select {
  width: 96px;
  margin-left: 8px;
}

.bl-story {
  margin-top: 15px;
}

.minipopup .form-group {
  margin-bottom: 11px;
}

.modal-content {
  width: 51rem;
  margin-left: -6rem;
  margin-top: 24rem;
  margin-right: -16rem;
}

.modal-custom {
  width: 83rem;
  margin-left: -6rem;
  margin-top: -2rem;
  margin-right: -16rem;
}

.icon {
  min-width: 72px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  background-color: #a4a3e5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .16), 0 8px 8px rgba(0, 0, 0, .16);
  transition: all .3s ease;
  cursor: pointer;
}

.preview-eye {
  float: right;
  margin: 14px 19px 7px 0px;
  background: #a4a3e5;
  color: white;
  border: 1px solid #a4a3e5;
  border-radius: 7px;
  font-weight: 500;
  font-size: 14px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
}

.image {
  width: 30%;
  max-width: 100%;
  border-radius: 8px;
  padding-left: 2px;
}

.Plus-btn {
  font-size: xx-large;
  /* display: flex; */
  margin-left: 200px;
  cursor: pointer;
}

.content-list {
  list-style: none;
  padding: 0;
}

.content-list li {
  margin-bottom: 15px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.content-title {
  margin-right: 10px;
  margin-left: 7px;
}

.testing {
  padding: 0px;
}

.card-text {
  color: #6C757D;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview-heading {
  font-weight: 500;
}

.template {
  font-size: 15px;
  font-family: system-ui;
}

.template:hover {
  cursor: pointer;
}

.modal-body.options {
  font-size: 15px;
  font-weight: bold;
}
.modal-body.options label:hover {
  cursor: pointer; 
}
.subtitle-modal{
  font-size: 14px;
}